<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        /* This style applies to all elements */
        * { padding: 0; margin: 0; }
        /* style applies to canvas elements */
        canvas {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<!-- The canvas within which the game is drawn -->
<canvas id="gameCanvas" width="800" height="600">
    Your browser does not support the canvas element.
</canvas>

<script src="/EveryDay/assets/js/main.js"></script>

</body>
</html>
